# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
/dist-audit*/
/.eslint-audit.json
/.unused-audit.txt


# issue
# 1 offer but it says compare, it should say see offers instead of compare
#  when i select an offer and it still says offer avaible it is worng after selecting offer it
# should automaticly show contract right now i sstill see offers , howevere if i cancel the contract 
# before agrreing to it then  i should see offers
